/* --== Login Page ==-- */
.prompt {
    box-sizing: border-box;
    padding: 90px 0;
    margin-bottom: 90px;
    text-align: center;
    background: #1476a6;
    color: #fff;
}
.login {
    box-sizing: border-box;
    margin: 20px auto;
    width: 100%;
    max-width: 300px;
}
.btn.main {
    width: 100%;
}
.brand-title, .brand-tagline { margin: 0; }
.brand-title { text-transform: uppercase; font-size: 4rem; margin-bottom: 2rem;}
.brand-tagline { font-size: 1.8rem; opacity: 0.4;}


/* --== Upload Page ==-- */

.help {
    color: #9d9d9d;
    margin: 1em 0;
}

.upload-feedback {
}
.file-description {
    min-width: 300px;
    margin: 0;
}
.filename {
    display: inline-block;
    width: 77%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-style: italic;
    color: #555;
}
.size {
    color: #aaa;
    float: right;
}
.progress_container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #548c8c;
    width: 100%;
    height: 5px;
    margin: 0 0 5px;
}
.progress {
    width: 0;
    background: #6bb39b;
    height: 100%;
}